*{
  margin-bottom: 0;
}

hr {
  width: 400px;
  border-top: 2px solid gray;
  border-radius: 20%;
}

.section{
  display: flex;
  gap: 10px;
  align-items: center;
}

.h4{
  color: gray;
  margin-bottom: 0;
}

@media screen and (max-width: 450px) {
  hr {
    width: 100px
  }
  .h4{
    text-align: center;
  }
}