.rating{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-bottom: 50px;
  }
  
  .rating i{
  display: block;
  width: 100px;
  height: 100%;
  background: url(../../assets/golden-star.png) repeat-x;
  }
  .rating a:link{
  display:block;
  float:left;
  width: 20%;
  opacity: 25%;
  }
  .rating img{
  width:100%;
  height:auto;
  }
  .rating>i>a:hover ~ a:link{
  opacity:1;
  }
