.nav{
  display: flex;
  margin-top: 50px;
}

.button{
  background-color: white;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  margin: 0 20px;
  box-shadow: 2px 5px 8px #00000029;
  border: 1px solid #707070;
  text-decoration: none;
  color: gray;
  font-size: 14px;
  cursor: pointer;
}

a:hover {
  color: #535bf2;
}