.form{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.button{
  height: 40px;
  width: 100%;
  background-color: #ff8e3c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.divInput{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.sectionRadio{
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.divRadio{
  display: flex;
  gap: 5px;
  align-items: center;
}